@charset "UTF-8";

/* base.css
--------------------------------------------------------------

:: CSS Index

 1 : Global Reset
 2 : body
   : link
 3 : general
 4 : usual classes

 
--------------------------------------------------------------

2010.08.04 : designed by Sig.

-------------------------------------------------------------- */

@import "reset.css";
@import "layout.css";


/* contents
-------------------------------------------------------------- */


@media screen and (max-width: 1024px){

        #contents {
            width: 735px;
        }
        #GoogleMaps {
            width: 720px;
        }

}

@media screen and (max-width: 800px){

        #contents {
            width: 490px;
        }
        #GoogleMaps {
            width: 485px;
        }
}

@media screen and (max-width: 640px),
       screen and (-webkit-min-device-pixel-ratio: 2),
       screen and (-webkit-min-device-pixel-ratio: 1.5){

        header hgroup {
            text-align: center;
            margin: 0 0 0 40px;
            padding: 20px 0px;
        }
        #mapSwitch:after {
            content: none;
            width: 0;
        }
        #mapSwitch li:nth-child(1) {
            width: 70px;
        }
        #mapSwitch li a {
            width: 70px;
        }
        #contents {
            width:240px;
            margin: 0 0 0 80px;
        }
        #GoogleMaps {
            width: 230px;
            height: 230px;
        }
}

